@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: blue;
    --cor2: ;
    --cor3: ;
    --cor4: ;
    --cor5: ;
    --bg-color1: rgb(255, 255, 255);
    --bg-color2: ;

    --text-color1: rgb(0, 0, 0);
    --text-color2: rgba(0, 0, 0, 0.5);
    --text-color3: ;
}

body {
    background: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
}

/* header */
header #menu {
  /* menu fixo */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}

#menu .btn-cad-ent {
  font-size: 10pt;
}

/* main */
main {
  /* margem pro menu fixo */
  margin-top: 120px;
}

main a {
  text-decoration: none;
  color: var(--text-color2);
}

main a:hover {
  text-decoration: none;
  color: var(--cor1);
}

/* entrar e cadastrar */
#campo-cadastrar,
#campo-entrar {
  height: fit-content;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 25px 30px;
}

.login-img {
  max-width: 500px;
  margin: auto;
}

#campo-cadastrar .form-control,
#campo-entrar .form-control{
  border-radius: 13px;
  padding: 13px;
}

#campo-cadastrar .btn,
#campo-entrar .btn {
  border-radius: 13px;
  padding: 10px;
}

/* @media screen and (max-width: 767px){

} */

/* carousel sobre nos */
#carousel-sobrenos .cards-wrapper {
    display: flex !important;
}

#carousel-sobrenos .card {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.1);
}

#carousel-sobrenos .card-title {
  text-align: center;
}

#carousel-sobrenos .carousel-inner {
    padding: 1em;
}

#carousel-sobrenos  .carousel-control {
    color: var(--text-color1) !important;
    background-color: var(--bg-color1);
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.1);
    top: 50%;
    transform: translateY(-50%);
}

#carousel-sobrenos .carousel-control span {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 577px) {
  #carousel-sobrenos .cards-wrapper {
    display: flex;
  }

  #carousel-sobrenos .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 576px) {
  #carousel-sobrenos .card:not(:first-child) {
    display: none;
  }
}