@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: ;
    --cor2: ;
    --cor3: ;
    --cor4: ;
    --cor5: ;

    --text-color1: #000;
    --text-color2: #FFF;
    --text-color3: #d2d2d2;
}

body {
    background: var(--text-color2);
}

/* header */

header #menu {
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
}

#campo-cadastrar {
    max-width: 600px;
}

/* carousel sobre nos */
#carousel-sobrenos .cards-wrapper {
    display: flex !important;
}

#carousel-sobrenos .card {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.1);
}

#carousel-sobrenos .card-title {
  text-align: center;
}

#carousel-sobrenos .carousel-inner {
    padding: 1em;
}

#carousel-sobrenos  .carousel-control {
    background-color: var(--text-color2);
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#carousel-sobrenos .carousel-control {
    color: var(--text-color1) !important;
    background: var(--text-color2);
    box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.1);
}

  #carousel-sobrenos .carousel-control span {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media screen and (min-width: 577px) {
    #carousel-sobrenos .cards-wrapper {
      display: flex;
    }

    #carousel-sobrenos .card {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
  }

  @media screen and (max-width: 576px) {
    #carousel-sobrenos .card:not(:first-child) {
      display: none;
    }
  }